/*

Copyright (c) 2005-2013, University of Oxford.
All rights reserved.

University of Oxford means the Chancellor, Masters and Scholars of the
University of Oxford, having an administrative office at Wellington
Square, Oxford OX1 2JD, UK.

This file is part of Chaste.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
 * Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.
 * Neither the name of the University of Oxford nor the names of its
   contributors may be used to endorse or promote products derived from this
   software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/
@{
  // any C# code we need goes here
  var upperName = @Model.Name.ToUpper();
  var name = char.ToUpper(@Model.Name[0]) + @Model.Name.Substring(1);
  var odeClass = String.Format("Sbml{0}OdeSystem", name);
}

#ifndef SBML@(upperName)MODEL_HPP_
#define SBML@(upperName)MODEL_HPP_

#include "ChasteSerialization.hpp"
#include <boost/serialization/base_object.hpp>
#include <boost/serialization/shared_ptr.hpp>

///////////////////////////////////////////////////////////////////////////////
// ODE MODEL
///////////////////////////////////////////////////////////////////////////////
#include <cmath>
#include <iostream>
#include <dlfcn.h>
#include "AbstractOdeSystem.hpp"
#include "CellwiseOdeSystemInformation.hpp"

// typedefs for function pointers needed
typedef void (*OdeModelInitials_t)(const double time, double* const __restrict__ state);
typedef void (*OdeModelRHS_t)(  const double time, const double* const __restrict__ state,
                                double* const __restrict__ delta, double* const __restrict__ weiner);


/**
 * Sbml @name ODE System
 */
class @(odeClass) : public AbstractOdeSystem
{
private:

    friend class boost::serialization::access;
    template<class Archive>
    void serialize(Archive & archive, const unsigned int version)
    {
        archive & boost::serialization::base_object<AbstractOdeSystem>(*this);
    }

    void* mpHandle;

    void openLibrary(const char* __restrict__ name) {
        mpHandle = dlopen(name, RTLD_LAZY);
        if (!mpHandle) {
                std::cerr << "Cannot open library: " << dlerror() << '\n';
                exit(1);
        }
    }

    void closeLibrary() {
        dlclose(mpHandle);
    }

    void* openSymbol(const char* __restrict__ name) {
        void* result = dlsym(mpHandle, name);
        const char *dlsym_error = dlerror();
         if (dlsym_error) {
             std::cerr << "Cannot load symbol "<< name << " : " << dlsym_error << std::endl;
             closeLibrary();
             exit(1);
         }
         return result;
    }

public:
    @(odeClass)(std::vector<double> stateVariables=std::vector<double>()) : AbstractOdeSystem(@Model.Size) {
        // load the object file
        openLibrary("./Sbml@(Model.Name).so");

        mpSystemInfo.reset(new CellwiseOdeSystemInformation<@(odeClass)>);
        // setup the initial data via "OdeModelInitials" function in object file
        double initialData[@(Model.Size)];
        OdeModelInitials_t OdeModelInitials = (OdeModelInitials_t) openSymbol("OdeModelInitials");
        (*OdeModelInitials)(0, initialData);
        for (unsigned i = 0; i < @(Model.Size); ++i) {
            SetDefaultInitialCondition(i, initialData[i]); // soon overwritten
        }
        if (stateVariables != std::vector<double>())
        {
            SetStateVariables(stateVariables);
        }
    };

    ~@(odeClass)() {
        closeLibrary();
    };

    void EvaluateYDerivatives(double time, const std::vector<double>& rY, std::vector<double>& rDY) {
        // calculate the delta values via "OdeModelRHS" function in object file
        OdeModelRHS_t OdeModelRHS = (OdeModelRHS_t) openSymbol("OdeModelRHS");
        (*OdeModelRHS)(0, &rY[0], &rDY[0], NULL);
    };
};


template<>
void CellwiseOdeSystemInformation<@(odeClass)>::Initialise()
{
    @foreach (var x in Model.StateDefs) {
    <text>this->mVariableNames.push_back("@x.Item1");
    this->mVariableUnits.push_back("non-dim");
    this->mInitialConditions.push_back(@x.Item3); // will be filled in later
    </text>
    }
    this->mInitialised = true;
}

// Declare identifier for the serializer
#include "SerializationExportWrapper.hpp"
CHASTE_CLASS_EXPORT(@(odeClass))

namespace boost
{
namespace serialization
{
/**
 * Serialize information required to construct a Goldbeter1991OdeSystem.
 */
template<class Archive>
inline void save_construct_data(
    Archive & ar, const @(odeClass) * t, const BOOST_PFTO unsigned int file_version)
{
    const std::vector<double> state_variables = t->rGetConstStateVariables();
    ar & state_variables;
}

/**
 * De-serialize constructor parameters and initialise a @Model.Name Ode System.
 */
template<class Archive>
inline void load_construct_data(
    Archive & ar, @(odeClass) * t, const unsigned int file_version)
{
    std::vector<double> state_variables;
    ar & state_variables;

    // Invoke inplace constructor to initialise instance
    ::new(t)@(odeClass)(state_variables);
}
}
} // namespace ...
