/////////////////////////////////////////////////////////////////////
// Model Info
// Name - @Model.Name
// Size - @Model.Size
/////////////////////////////////////////////////////////////////////
@* Are these includes needed?
#include <stdio.h>
#include <stdlib.h>
#include <stdint.h>
#include <inttypes.h> 
#include <string.h> *@
#include <math.h>
#include "OdeModel.h"

// System information
// Simulation Time Parameters //////////////////////////////////////////////////////////////////////
const double OdeParamStartTime = 0.0;
const double OdeParamStopTime = 0.0;
const double OdeParamAdjustedStopTime = 0.0;
const double OdeParamTimestep = 0.0;
// Adative Solver Parameteres (i.e. for use with CVODE) ////////////////////////////////////////////
const double OdeParamMaxTimestep = 0.0;
const uint64_t OdeParamMaxNumSteps = 0;
const double OdeParamRelativeError = 0.0;
const double OdeParamAbsoluteError = 0.0;
const enum OdeParamModelTypes OdeParamModelType = NonStiff;
// Simulation Output Parameters ////////////////////////////////////////////////////////////////////
const double OdeParamPeriod = 0.0;
const uint64_t OdeParamPeriodInterval = 0;
const double OdeParamStartOutputTime = 0.0;
const char OdeParamOutput[] = "output.bin";
// High-level Simulation/Model Parameters //////////////////////////////////////////////////////////
const enum OdeParamSimTypes OdeParamSimType = Ode;
const uint64_t OdeParamStateSize = @Model.Size;

// Initial Values
void OdeModelInitials(const double time, double* const restrict state) {
@foreach (var x in Model.StateDefs) {
  @:state[@x.Item2] = @x.Item3; // @x.Item1
}
}

// EvaluateYDerivatives
void OdeModelRHS(const double time, const double* const restrict state, double* const restrict delta, double* const restrict weiner) {
  // state values
@foreach (var x in Model.StateDefs) {
  @:const double @x.Item1 = state[@x.Item2]; // @x.Item1 state
}
  // main component
  const double @Model.Compartment.Item1 = @Model.Compartment.Item2;
  // global consts
@foreach (var x in Model.GlobalDefs) {
  @:const double @x.Item1 = @x.Item2;
}
  // reaction calculations
@foreach (var x in Model.ReactionDefs) {
  @:// reaction
  foreach (var y in x.Item3) {
  @:const double @y.Item1 = @y.Item2;
  }
  @:const double @x.Item1 = @x.Item2;
}

  // ODEs
@foreach (var x in Model.RateEqns) {
  @:delta[@x.Item2] = (@x.Item3) / @Model.Compartment.Item1; // d@(x.Item1)/dt
}
}
